<section class="section-covers" id="covers">
  <div class="container">
    <h2 class="visually-hidden">Covers</h2>

    <div class="content">
      <div class="covers-wrap">
        <div class="covers-line">
          <div class="covers-card">
            <img
              loading="lazy"
              srcset="
                ./img/covers-section/cover-body-1x.jpg 1x,
                ./img/covers-section/cover-body-2x.jpg 2x
              "
              src="./img/covers-section/cover-body-1x.jpg"
              alt="body"
            />
          </div>
          <div class="covers-card">
            <img
              loading="lazy"
              srcset="
                ./img/covers-section/cover-mimino-1x.jpg 1x,
                ./img/covers-section/cover-mimino-2x.jpg 2x
              "
              src="./img/covers-section/cover-mimino-1x.jpg"
              alt="mimin"
            />
          </div>
          <div class="covers-card">
            <img
              loading="lazy"
              srcset="
                ./img/covers-section/cover-study-1x.jpg,
                ./img/covers-section/cover-study-2x.jpg 2x
              "
              src="./img/covers-section/cover-study-1x.jpg"
              alt="study"
            />
          </div>
          <div class="covers-card">
            <img
              loading="lazy"
              srcset="
                ./img/covers-section/cover-vegetables-1x.jpg 1x,
                ./img/covers-section/cover-vegetables-2x.jpg 2x
              "
              src="./img/covers-section/cover-vegetables-1x.jpg"
              alt="vegetables"
            />
          </div>
          <div class="covers-card">
            <img
              loading="lazy"
              srcset="
                ./img/covers-section/cover-fruits-1x.jpg 1x,
                ./img/covers-section/cover-fruits-2x.jpg 2x
              "
              src="./img/covers-section/cover-fruits-1x.jpg"
              alt="fruits"
            />
          </div>
          <div class="covers-card">
            <img
              loading="lazy"
              srcset="
                ./img/covers-section/cover-people-1x.jpg 1x,
                ./img/covers-section/cover-people-2x.jpg 2x
              "
              src="./img/covers-section/cover-people-1x.jpg"
              alt="people"
            />
          </div>
          <div class="covers-card">
            <img
              loading="lazy"
              srcset="
                ./img/covers-section/cover-first-screen-1x.jpg 1x,
                ./img/covers-section/cover-first-screen-2x.jpg 2x
              "
              src="./img/covers-section/cover-first-screen-1x.jpg"
              alt="screen"
            />
          </div>
          <div class="covers-card">
            <img
              loading="lazy"
              srcset="
                ./img/covers-section/cover-shape-1x.jpg,
                ./img/covers-section/cover-shape-2x.jpg 2x
              "
              src="./img/covers-section/cover-shape-1x.jpg"
              alt="shape"
            />
          </div>
          <div class="covers-card">
            <img
              loading="lazy"
              srcset="
                ./img/covers-section/cover-tradition-1x.jpg 1x,
                ./img/covers-section/cover-tradition-2x.jpg 2x
              "
              src="./img/covers-section/cover-tradition-1x.jpg"
              alt="tradition"
            />
          </div>
          <div class="covers-card">
            <img
              loading="lazy"
              srcset="
                ./img/covers-section/cover-woman-1x.jpg 1x,
                ./img/covers-section/cover-woman-2x.jpg 2x
              "
              src="./img/covers-section/cover-woman-1x.jpg"
              alt="woman"
            />
          </div>
        </div>
        <div class="covers-line">
          <div class="covers-card">
            <img
              loading="lazy"
              srcset="
                ./img/covers-section/cover-people-1x.jpg 1x,
                ./img/covers-section/cover-people-2x.jpg 2x
              "
              src="./img/covers-section/cover-people-1x.jpg"
              alt="people"
            />
          </div>
          <div class="covers-card">
            <img
              loading="lazy"
              srcset="
                ./img/covers-section/cover-tradition-1x.jpg 1x,
                ./img/covers-section/cover-tradition-2x.jpg 2x
              "
              src="./img/covers-section/cover-tradition-1x.jpg"
              alt="tradition"
            />
          </div>
          <div class="covers-card">
            <img
              loading="lazy"
              srcset="
                ./img/covers-section/cover-woman-1x.jpg 1x,
                ./img/covers-section/cover-woman-2x.jpg 2x
              "
              src="./img/covers-section/cover-woman-1x.jpg"
              alt="woman"
            />
          </div>
          <div class="covers-card">
            <img
              loading="lazy"
              srcset="
                ./img/covers-section/cover-study-1x.jpg,
                ./img/covers-section/cover-study-2x.jpg 2x
              "
              src="./img/covers-section/cover-study-1x.jpg"
              alt="study"
            />
          </div>
          <div class="covers-card">
            <img
              loading="lazy"
              srcset="
                ./img/covers-section/cover-body-1x.jpg 1x,
                ./img/covers-section/cover-body-2x.jpg 2x
              "
              src="./img/covers-section/cover-body-1x.jpg"
              alt="body"
            />
          </div>
          <div class="covers-card">
            <img
              loading="lazy"
              srcset="
                ./img/covers-section/cover-shape-1x.jpg,
                ./img/covers-section/cover-shape-2x.jpg 2x
              "
              src="./img/covers-section/cover-shape-1x.jpg"
              alt="shape"
            />
          </div>
          <div class="covers-card">
            <img
              loading="lazy"
              srcset="
                ./img/covers-section/cover-fruits-1x.jpg 1x,
                ./img/covers-section/cover-fruits-2x.jpg 2x
              "
              src="./img/covers-section/cover-fruits-1x.jpg"
              alt="fruits"
            />
          </div>
          <div class="covers-card">
            <img
              loading="lazy"
              srcset="
                ./img/covers-section/cover-vegetables-1x.jpg 1x,
                ./img/covers-section/cover-vegetables-2x.jpg 2x
              "
              src="./img/covers-section/cover-vegetables-1x.jpg"
              alt="vegetables"
            />
          </div>
          <div class="covers-card">
            <img
              loading="lazy"
              srcset="
                ./img/covers-section/cover-first-screen-1x.jpg 1x,
                ./img/covers-section/cover-first-screen-2x.jpg 2x
              "
              src="./img/covers-section/cover-first-screen-1x.jpg"
              alt="screen"
            />
          </div>
        </div>
        <div class="covers-line">
          <div class="covers-card">
            <img
              loading="lazy"
              srcset="
                ./img/covers-section/cover-mimino-1x.jpg 1x,
                ./img/covers-section/cover-mimino-2x.jpg 2x
              "
              src="./img/covers-section/cover-mimino-1x.jpg"
              alt="mimino"
            />
          </div>
          <div class="covers-card">
            <img
              loading="lazy"
              srcset="
                ./img/covers-section/cover-shape-1x.jpg,
                ./img/covers-section/cover-shape-2x.jpg 2x
              "
              src="./img/covers-section/cover-shape-1x.jpg"
              alt="shape"
            />
          </div>
          <div class="covers-card">
            <img
              loading="lazy"
              srcset="
                ./img/covers-section/cover-first-screen-1x.jpg 1x,
                ./img/covers-section/cover-first-screen-2x.jpg 2x
              "
              src="./img/covers-section/cover-first-screen-1x.jpg"
              alt="screen"
            />
          </div>
          <div class="covers-card">
            <img
              loading="lazy"
              srcset="
                ./img/covers-section/cover-people-1x.jpg 1x,
                ./img/covers-section/cover-people-2x.jpg 2x
              "
              src="./img/covers-section/cover-people-1x.jpg"
              alt="people"
            />
          </div>
          <div class="covers-card">
            <img
              loading="lazy"
              srcset="
                ./img/covers-section/cover-tradition-1x.jpg 1x,
                ./img/covers-section/cover-tradition-2x.jpg 2x
              "
              src="./img/covers-section/cover-tradition-1x.jpg"
              alt="tradition"
            />
          </div>
          <div class="covers-card">
            <img
              loading="lazy"
              srcset="
                ./img/covers-section/cover-study-1x.jpg,
                ./img/covers-section/cover-study-2x.jpg 2x
              "
              src="./img/covers-section/cover-study-1x.jpg"
              alt="study"
            />
          </div>
          <div class="covers-card">
            <img
              loading="lazy"
              srcset="
                ./img/covers-section/cover-fruits-1x.jpg 1x,
                ./img/covers-section/cover-fruits-2x.jpg 2x
              "
              src="./img/covers-section/cover-fruits-1x.jpg"
              alt="fruits"
            />
          </div>
          <div class="covers-card">
            <img
              loading="lazy"
              srcset="
                ./img/covers-section/cover-shape-1x.jpg,
                ./img/covers-section/cover-shape-2x.jpg 2x
              "
              src="./img/covers-section/cover-shape-1x.jpg"
              alt="shape"
            />
          </div>
          <div class="covers-card">
            <img
              loading="lazy"
              srcset="
                ./img/covers-section/cover-body-1x.jpg 1x,
                ./img/covers-section/cover-body-2x.jpg 2x
              "
              src="./img/covers-section/cover-body-1x.jpg"
              alt="body"
            />
          </div>
          <div class="covers-card">
            <img
              loading="lazy"
              srcset="
                ./img/covers-section/cover-vegetables-1x.jpg 1x,
                ./img/covers-section/cover-vegetables-2x.jpg 2x
              "
              src="./img/covers-section/cover-vegetables-1x.jpg"
              alt="vegetables"
            />
          </div>
          <div class="covers-card">
            <img
              loading="lazy"
              srcset="
                ./img/covers-section/cover-woman-1x.jpg 1x,
                ./img/covers-section/cover-woman-2x.jpg 2x
              "
              src="./img/covers-section/cover-woman-1x.jpg"
              alt="woman"
            />
          </div>
        </div>
        <div class="covers-line">
          <div class="covers-card">
            <img
              loading="lazy"
              srcset="
                ./img/covers-section/cover-fruits-1x.jpg 1x,
                ./img/covers-section/cover-fruits-2x.jpg 2x
              "
              src="./img/covers-section/cover-fruits-1x.jpg"
              alt="fruits"
            />
          </div>
          <div class="covers-card">
            <img
              loading="lazy"
              srcset="
                ./img/covers-section/cover-body-1x.jpg 1x,
                ./img/covers-section/cover-body-2x.jpg 2x
              "
              src="./img/covers-section/cover-body-1x.jpg"
              alt="body"
            />
          </div>
          <div class="covers-card">
            <img
              loading="lazy"
              srcset="
                ./img/covers-section/cover-mimino-1x.jpg 1x,
                ./img/covers-section/cover-mimino-2x.jpg 2x
              "
              src="./img/covers-section/cover-mimino-1x.jpg"
              alt="mimin"
            />
          </div>
          <div class="covers-card">
            <img
              loading="lazy"
              srcset="
                ./img/covers-section/cover-study-1x.jpg,
                ./img/covers-section/cover-study-2x.jpg 2x
              "
              src="./img/covers-section/cover-study-1x.jpg"
              alt="study"
            />
          </div>
          <div class="covers-card">
            <img
              loading="lazy"
              srcset="
                ./img/covers-section/cover-vegetables-1x.jpg 1x,
                ./img/covers-section/cover-vegetables-2x.jpg 2x
              "
              src="./img/covers-section/cover-vegetables-1x.jpg"
              alt="vegetables"
            />
          </div>
          <div class="covers-card">
            <img
              loading="lazy"
              srcset="
                ./img/covers-section/cover-people-1x.jpg 1x,
                ./img/covers-section/cover-people-2x.jpg 2x
              "
              src="./img/covers-section/cover-people-1x.jpg"
              alt="people"
            />
          </div>
          <div class="covers-card">
            <img
              loading="lazy"
              srcset="
                ./img/covers-section/cover-first-screen-1x.jpg 1x,
                ./img/covers-section/cover-first-screen-2x.jpg 2x
              "
              src="./img/covers-section/cover-first-screen-1x.jpg"
              alt="screen"
            />
          </div>
          <div class="covers-card">
            <img
              loading="lazy"
              srcset="
                ./img/covers-section/cover-shape-1x.jpg,
                ./img/covers-section/cover-shape-2x.jpg 2x
              "
              src="./img/covers-section/cover-shape-1x.jpg"
              alt="shape"
            />
          </div>
          <div class="covers-card">
            <img
              loading="lazy"
              srcset="
                ./img/covers-section/cover-tradition-1x.jpg 1x,
                ./img/covers-section/cover-tradition-2x.jpg 2x
              "
              src="./img/covers-section/cover-tradition-1x.jpg"
              alt="tradition"
            />
          </div>
          <div class="covers-card">
            <img
              loading="lazy"
              srcset="
                ./img/covers-section/cover-woman-1x.jpg 1x,
                ./img/covers-section/cover-woman-2x.jpg 2x
              "
              src="./img/covers-section/cover-woman-1x.jpg"
              alt="woman"
            />
          </div>
        </div>
        <div class="covers-line">
          <div class="covers-card">
            <img
              loading="lazy"
              srcset="
                ./img/covers-section/cover-people-1x.jpg 1x,
                ./img/covers-section/cover-people-2x.jpg 2x
              "
              src="./img/covers-section/cover-people-1x.jpg"
              alt="people"
            />
          </div>
          <div class="covers-card">
            <img
              loading="lazy"
              srcset="
                ./img/covers-section/cover-tradition-1x.jpg 1x,
                ./img/covers-section/cover-tradition-2x.jpg 2x
              "
              src="./img/covers-section/cover-tradition-1x.jpg"
              alt="tradition"
            />
          </div>
          <div class="covers-card">
            <img
              loading="lazy"
              srcset="
                ./img/covers-section/cover-shape-1x.jpg,
                ./img/covers-section/cover-shape-2x.jpg 2x
              "
              src="./img/covers-section/cover-shape-1x.jpg"
              alt="shape"
            />
          </div>
          <div class="covers-card">
            <img
              loading="lazy"
              srcset="
                ./img/covers-section/cover-fruits-1x.jpg 1x,
                ./img/covers-section/cover-fruits-2x.jpg 2x
              "
              src="./img/covers-section/cover-fruits-1x.jpg"
              alt="fruits"
            />
          </div>
          <div class="covers-card">
            <img
              loading="lazy"
              srcset="
                ./img/covers-section/cover-body-1x.jpg 1x,
                ./img/covers-section/cover-body-2x.jpg 2x
              "
              src="./img/covers-section/cover-body-1x.jpg"
              alt="body"
            />
          </div>
          <div class="covers-card">
            <img
              loading="lazy"
              srcset="
                ./img/covers-section/cover-mimino-1x.jpg 1x,
                ./img/covers-section/cover-mimino-2x.jpg 2x
              "
              src="./img/covers-section/cover-mimino-1x.jpg"
              alt="mimin"
            />
          </div>
          <div class="covers-card">
            <img
              loading="lazy"
              srcset="
                ./img/covers-section/cover-study-1x.jpg,
                ./img/covers-section/cover-study-2x.jpg 2x
              "
              src="./img/covers-section/cover-study-1x.jpg"
              alt="study"
            />
          </div>
          <div class="covers-card">
            <img
              loading="lazy"
              srcset="
                ./img/covers-section/cover-vegetables-1x.jpg 1x,
                ./img/covers-section/cover-vegetables-2x.jpg 2x
              "
              src="./img/covers-section/cover-vegetables-1x.jpg"
              alt="vegetables"
            />
          </div>
          <div class="covers-card">
            <img
              loading="lazy"
              srcset="
                ./img/covers-section/cover-first-screen-1x.jpg 1x,
                ./img/covers-section/cover-first-screen-2x.jpg 2x
              "
              src="./img/covers-section/cover-first-screen-1x.jpg"
              alt="screen"
            />
          </div>
          <div class="covers-card">
            <img
              loading="lazy"
              srcset="
                ./img/covers-section/cover-woman-1x.jpg 1x,
                ./img/covers-section/cover-woman-2x.jpg 2x
              "
              src="./img/covers-section/cover-woman-1x.jpg"
              alt="woman"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
