<section class="covers-section container" id="covers">
  <h2 class="visually-hidden">Covers</h2>
  <div class="covers-cover">
    <ul class="covers-list">
      <li class="cover-item">
        <picture>
          <source
            srcset="
              ./img/covers-section/cover-body-1x.jpg 1x,
              ./img/covers-section/cover-body-2x.jpg 2x
            "
          />
          <img
            src="./img/covers-section/cover-body-1x.jpg"
            loading="lazy"
            alt="body"
            width="544"
            height="314"
          />
        </picture>
      </li>
      <li class="cover-item">
        <picture>
          <source
            srcset="
              ./img/covers-section/cover-first-screen-1x.jpg 1x,
              ./img/covers-section/cover-first-screen-2x.jpg 2x
            "
          />
          <img
            src="./img/covers-section/cover-first-screen-1x.jpg"
            loading="lazy"
            alt="screen"
            width="544"
            height="314"
          />
        </picture>
      </li>
      <li class="cover-item">
        <picture>
          <source
            srcset="
              ./img/covers-section/cover-fruits-1x.jpg 1x,
              ./img/covers-section/cover-fruits-2x.jpg 2x
            "
          />
          <img
            src="./img/covers-section/cover-fruits-1x.jpg"
            loading="lazy"
            alt="fruits"
            width="544"
            height="314"
          />
        </picture>
      </li>
      <li class="cover-item">
        <picture>
          <source
            srcset="
              ./img/covers-section/cover-mimino-1x.jpg 1x,
              ./img/covers-section/cover-mimino-2x.jpg 2x
            "
          />
          <img
            src="./img/covers-section/cover-mimino-1x.jpg"
            loading="lazy"
            alt="mimino"
            width="544"
            height="314"
          />
        </picture>
      </li>
      <li class="cover-item">
        <picture>
          <source
            srcset="
              ./img/covers-section/cover-people-1x.jpg 1x,
              ./img/covers-section/cover-people-2x.jpg 2x
            "
          />
          <img
            src="./img/covers-section/cover-people-1x.jpg"
            loading="lazy"
            alt="people"
            width="544"
            height="314"
          />
        </picture>
      </li>
      <li class="cover-item">
        <picture>
          <source
            srcset="
              ./img/covers-section/cover-shape-1x.jpg 1x,
              ./img/covers-section/cover-shape-2x.jpg 2x
            "
          />
          <img
            src="./img/covers-section/cover-shape-1x.jpg"
            loading="lazy"
            alt="shape"
            width="544"
            height="314"
          />
        </picture>
      </li>
      <li class="cover-item">
        <picture>
          <source
            srcset="
              ./img/covers-section/cover-study-1x.jpg 1x,
              ./img/covers-section/cover-study-2x.jpg 2x
            "
          />
          <img
            src="./img/covers-section/cover-study-1x.jpg"
            loading="lazy"
            alt="study"
            width="544"
            height="314"
          />
        </picture>
      </li>
      <li class="cover-item">
        <picture>
          <source
            srcset="
              ./img/covers-section/cover-tradition-1x.jpg 1x,
              ./img/covers-section/cover-tradition-2x.jpg 2x
            "
          />
          <img
            src="./img/covers-section/cover-tradition-1x.jpg"
            loading="lazy"
            alt="tradition"
            width="544"
            height="314"
          />
        </picture>
      </li>
      <li class="cover-item">
        <picture>
          <source
            srcset="
              ./img/covers-section/cover-vegetables-1x.jpg 1x,
              ./img/covers-section/cover-vegetables-2x.jpg 2x
            "
          />
          <img
            src="./img/covers-section/cover-vegetables-1x.jpg"
            loading="lazy"
            alt="vegetables"
            width="544"
            height="314"
          />
        </picture>
      </li>
      <li class="cover-item">
        <picture>
          <source
            srcset="
              ./img/covers-section/cover-woman-1x.jpg 1x,
              ./img/covers-section/cover-woman-2x.jpg 2x
            "
          />
          <img
            src="./img/covers-section/cover-woman-1x.jpg"
            loading="lazy"
            alt="women"
            width="544"
            height="314"
          />
        </picture>
      </li>
    </ul>
  </div>
</section>
