<section class="faq-section">
    <div class="faq-container">
        <h2 class="faq-title">FAQ</h2>
        <ul class="faq-list">
            <li class="faq-item">
                    <h3 class="faq-item-title">What programming languages ​​are most often used in your project?</h3>
                    <button type="button" class="faq-item-btn">
                        <svg class="faq-btn-icon" width="20" height="20">
                            <use href="../img/symbol-defs.svg#con-accordeon-arrow-down"></use>
                        </svg>
                    </button>
            </li>
            <li class="faq-item">
                    <h3 class="faq-item-title">What are the deadlines for the project?</h3>
                    <button type="button" class="faq-item-btn">
                        <svg class="faq-btn-icon" width="20" height="20">
                            <use href="../img/symbol-defs.svg#con-accordeon-arrow-down"></use>
                        </svg>
                    </button>
            </li>
            <li class="faq-item">
               
                    <h3 class="faq-item-title">What payment methods do you accept?</h3>
                    <button type="button" class="faq-item-btn">
                        <svg class="faq-btn-icon" width="20" height="20">
                            <use href="../img/symbol-defs.svg#con-accordeon-arrow-down"></use>
                        </svg>
                    </button>
            </li>
            <li class="faq-item">
                    <h3 class="faq-item-title">How can I contact you?</h3>
                    <button type="button" class="faq-item-btn">
                        <svg class="faq-btn-icon" width="20" height="20">
                            <use href="../img/symbol-defs.svg#con-accordeon-arrow-down"></use>
                        </svg>
                    </button>
            </li>
            <li class="faq-item">
                    <h3 class="faq-item-title">Do you provide advice or support?</h3>
                    <button type="button" class="faq-item-btn">
                        <svg class="faq-btn-icon" width="20" height="20">
                            <use href="../img/symbol-defs.svg#con-accordeon-arrow-down"></use>
                        </svg>
                    </button>
            </li>
            <li class="faq-item">
                    <h3 class="faq-item-title">What does the process of developing a software product look like from idea to implementation?</h3>
                    <button type="button" class="faq-item-btn">
                        <svg class="faq-btn-icon" width="20" height="20">
                            <use href="../img/symbol-defs.svg#con-accordeon-arrow-down"></use>
                        </svg>
                    </button>
            </li>
        </ul>
    </div>
</section>
