<header class="PageHeader">
  <div class="HeaderWrapper">
    <a href="./index.html" class="HeaderLogo">
      <img
        class="HeaderLogoImage"
        srcset="./img/logo@2x.png 2x"
        src="./img/logo.png"
        alt="dev"
        width="80"
        height="80"
      />
      <p class="HeaderLogoText">jefferson*</p>
    </a>
    <nav class="HeaderNavigation">
      <button class="HeaderMenuButton" type="button">Menu</button>
      <ul class="HeaderMenuList">
        <li class="HeaderMenuItem">
          <a href="#about-me" class="HeaderMenuLink"> About me </a>
        </li>
        <li class="HeaderMenuItem">
          <a href="#Benefits" class="HeaderMenuLink"> Benefits </a>
        </li>
        <li class="HeaderMenuItem">
          <a href="#projects" class="HeaderMenuLink"> Projects </a>
        </li>
        <li class="HeaderMenuItem">
          <a href="#FAQ" class="HeaderMenuLink"> FAQ </a>
        </li>
      </ul>
    </nav>
    <a href="work-together" class="HeaderOrderLink"> Order the project </a>
    <button id="openModal" class="HeaderBurgerButton js-open-btn" type="button">
      <svg class="HeaderBurgerVector" width="28" height="28">
        <use href="img/icons.svg#icon-menu-burger"></use>
      </svg>
    </button>
  </div>
</header>
