<section class="section-hero" id="hero-section-id">
  <div class="hero container">
    <h1 class="main-title">
      Hello. <br />
      I’m Fullstack developer Lloyd Jefferson.
    </h1>
    <div class="hero-contact">
      <ul class="contact-icon">
        <li class="social-icon">
          <a href="https://www.instagram.com/goitclub/" target="_blank">ig</a>
        </li>
        <li class="social-icon">
          <a href="https://www.youtube.com/c/GoIT" target="_blank">fb</a>
        </li>
        <li class="social-icon">
          <a href="https://www.facebook.com/goITclub/" target="_blank">yt</a>
        </li>
        <li class="social-icon">
          <a
            href="https://yevhenneklesov.github.io/red-hot-chili-coders/"
            target="_blank"
            >gt</a
          >
        </li>
      </ul>
      <address class="hero-email">
        <a href="mailto:lloydjefferson@gmail.com">lloydjefferson@gmail.com</a>
      </address>
    </div>
  </div>
</section>
