<section class="modal-window-section js-modal-window">
  <div class="container">
    <h2 class="visually-hidden">Thank you for your interest in cooperation!</h2>
    <div class="modal-mob">
      <button class="modal-close-btn js-modal-close-btn" type="button">
        <svg class="modal-close-icon" width="28" height="28">
          <use href="./img/symbol-defs.svg#icon-close"></use>
        </svg>
      </button>
      <ul class="modal-list">
        <li>
          <a class="modal-link js-modal-link" href="#about-me">About me</a>
        </li>
        <li>
          <a class="modal-link js-modal-link" href="#benefits">Benefits</a>
        </li>
        <li>
          <a class="modal-link js-modal-link" href="#projects">Projects</a>
        </li>
        <li><a class="modal-link js-modal-link" href="#faq">FAQ</a></li>
      </ul>
      <a href="#work-together" class="modal-order-link js-modal-link"
        >Order the project</a
      >
    </div>
  </div>
</section>
