<section id="projects" class="section projects-section">
  <div class="container">
    <h3 class="projects-title">Projects</h3>

    <!-- Swiper -->
    <div class="swiper project-swiper">
      <div class="swiper-wrapper">
        <!-- ------- Slide 1 ------ -->
        <div class="swiper-slide">
          <div class="project-descr">
            <ul class="technologies-list">
              <li>
                <p class="technology-name">#react</p>
              </li>
              <li>
                <p class="technology-name">#js</p>
              </li>
              <li>
                <p class="technology-name">#node js</p>
              </li>
              <li>
                <p class="technology-name">#git</p>
              </li>
            </ul>
            <h2 class="project-name">
              Programming Across Borders: Ideas, Technologies, Innovations
            </h2>
            <a
              class="project-ghub-link"
              href="https://github.com/YevhenNeklesov/red-hot-chili-coders"
              target="_blank"
              >See project</a
            >
          </div>
          <div class="project-img-wrap">
            <picture>
              <source
                srcset="
                  ./img/projects-img/project-img-1-desk-tab.jpg    1x,
                  ./img/projects-img/project-img-1-desk-tab@2x.jpg 2x
                "
                media="(min-width: 1440px)"
              />
              <source
                srcset="
                  ./img/projects-img/project-img-1-desk-tab.jpg    1x,
                  ./img/projects-img/project-img-1-desk-tab@2x.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/projects-img/project-img-1-mobil.jpg    1x,
                  ./img/projects-img/project-img-1-mobil@2x.jpg 2x
                " media="(max-width: 767px)" />
              <img src="./img/projects-img/project-img-1-desk-tab.jpg" alt="Project images"/>
            </picture>
          </div>
        </div>

        <!-- ------- Slide 2 ------ -->
        <div class="swiper-slide">
          <div class="project-descr">
            <ul class="technologies-list">
              <li>
                <p class="technology-name">#react</p>
              </li>
              <li>
                <p class="technology-name">#js</p>
              </li>
              <li>
                <p class="technology-name">#node js</p>
              </li>
              <li>
                <p class="technology-name">#git</p>
              </li>
            </ul>
            <h2 class="project-name">
              Programming Across Borders: Ideas, Technologies, Innovations
            </h2>
            <a
              class="project-ghub-link"
              href="https://github.com/YevhenNeklesov/red-hot-chili-coders"
              target="_blank"
              >See project</a
            >
          </div>
          <div class="project-img-wrap">
            <picture>
              <source
                srcset="
                  ./img/projects-img/project-img-2-desk-tab.jpg    1x,
                  ./img/projects-img/project-img-2-desk-tab@2x.jpg 2x
                "
                media="(min-width: 1439px)"
              />
              <source
                srcset="
                  ./img/projects-img/project-img-2-desk-tab.jpg    1x,
                  ./img/projects-img/project-img-2-desk-tab@2x.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/projects-img/project-img-2-mobil.jpg    1x,
                  ./img/projects-img/project-img-2-mobil@2x.jpg 2x
                " media="(max-width: 767px)" />
              <img src="./img/projects-img/project-img-2-desk-tab.jpg" alt="Project images"/>
            </picture>
          </div>
        </div>

        <!-- ------- Slide 3 ------ -->
        <div class="swiper-slide">
          <div class="project-descr">
            <ul class="technologies-list">
              <li>
                <p class="technology-name">#react</p>
              </li>
              <li>
                <p class="technology-name">#js</p>
              </li>
              <li>
                <p class="technology-name">#node js</p>
              </li>
              <li>
                <p class="technology-name">#git</p>
              </li>
            </ul>
            <h2 class="project-name">
              Programming Across Borders: Ideas, Technologies, Innovations
            </h2>
            <a
              class="project-ghub-link"
              href="https://github.com/YevhenNeklesov/red-hot-chili-coders"
              target="_blank"
              >See project</a
            >
          </div>
          <div class="project-img-wrap">
            <picture>
              <source
                srcset="
                  ./img/projects-img/project-img-3-desk-tab.jpg    1x,
                  ./img/projects-img/project-img-3-desk-tab@2x.jpg 2x
                "
                media="(min-width: 1440px)"
              />
              <source
                srcset="
                  ./img/projects-img/project-img-3-desk-tab.jpg    1x,
                  ./img/projects-img/project-img-3-desk-tab@2x.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/projects-img/project-img-3-mobil.jpg    1x,
                  ./img/projects-img/project-img-3-mobil@2x.jpg 2x
                " media="(max-width: 767px)" />
              <img src="./img/projects-img/project-img-3-desk-tab.jpg" alt="Project images"/>
            </picture>
          </div>
        </div>
      </div>
      <div class="swiper-buttons">
        <div class="swiper-prev">
          <svg class="icon-prev" width="32" height="32">
            <use href="./img/symbol-defs.svg#icon-arrow-narrow-right"></use>
          </svg>
        </div>
        <div class="swiper-next">
          <svg class="icon-next" width="32" height="32">
            <use href="./img/symbol-defs.svg#icon-arrow-narrow-right"></use>
          </svg>
        </div>
      </div>
    </div>
  </div>
</section>
