<section id="projects" class="section-margin">
  <div class="container">
    <h2 class="projects-title">Projects</h2>
    <div class="projects-swiper-container">
      <ul class="projects-swiper-wrapper swiper-wrapper">
        <li class="projects-swiper-slide swiper-slide">
          <div class="projects-content projects-content-light">
            <ul class="projects-tech-list">
              <li class="projects-tech-item">#react</li>
              <li class="projects-tech-item">#js</li>
              <li class="projects-tech-item">#node js</li>
              <li class="projects-tech-item">#git</li>
            </ul>
            <h3 class="projects-slide-title">Programming Across Borders: Ideas, Technologies, Innovations</h3>
            <a
              href="https://github.com/YevhenNeklesov/red-hot-chili-coders"
              class="projects-link"
              target="_blank"
              >See project</a
            >
          </div>
          <div class="projects-content projects-content-dark">
            <picture>
              <source
                srcset="
                  ./img/projects/projects_1_1x.webp 1x,
                  ./img/projects/projects_1_2x.webp 2x,
                  ./img/projects/projects_1_3x.webp 3x
                "
                media="(min-width: 768px)"
                type="image/webp"
              />

              <source
                srcset="
                  ./img/projects/projects_1_1x.jpg 1x,
                  ./img/projects/projects_1_2x.jpg 2x,
                  ./img/projects/projects_1_3x.jpg 3x
                "
                media="(min-width: 768px)"
                type="image/jpg"
              />

              <source
                srcset="
                  ./img/projects/projects-mobile_1_1x.webp 1x,
                  ./img/projects/projects-mobile_1_2x.webp 2x,
                  ./img/projects/projects-mobile_1_3x.webp 3x
                "
                type="image/webp"
              />

              <source
                srcset="
                  ./img/projects/projects-mobile_1_1x.jpg 1x,
                  ./img/projects/projects-mobile_1_2x.jpg 2x,
                  ./img/projects/projects-mobile_1_3x.jpg 3x
                "
                type="image/jpg"
              />

              <img
                src="./img/projects/projects_1_1x.jpg"
                alt="read journey"
                class="projects-img"
                loading="lazy"
              />
            </picture>
          </div>
        </li>
        <li class="projects-swiper-slide swiper-slide">
          <div class="projects-content projects-content-light">
            <ul class="projects-tech-list">
              <li class="projects-tech-item">#react</li>
              <li class="projects-tech-item">#js</li>
              <li class="projects-tech-item">#node js</li>
              <li class="projects-tech-item">#git</li>
            </ul>
            <h3 class="projects-slide-title">
              Programming Across Borders: Ideas, Technologies, Innovations
            </h3>

            <a
              href="https://github.com/YevhenNeklesov/red-hot-chili-coders"
              class="projects-link"
              target="_blank"
              >See project</a
            >
          </div>
          <div class="projects-content projects-content-dark">
            <picture>
              <source
                srcset="
                  ./img/projects/projects_2_1x.webp 1x,
                  ./img/projects/projects_2_2x.webp 2x,
                  ./img/projects/projects_2_3x.webp 3x
                "
                media="(min-width: 768px)"
                type="image/webp"
              />

              <source
                srcset="
                  ./img/projects/projects_2_1x.jpg 1x,
                  ./img/projects/projects_2_2x.jpg 2x,
                  ./img/projects/projects_2_3x.jpg 3x
                "
                media="(min-width: 768px)"
                type="image/jpg"
              />

              <source
                srcset="
                  ./img/projects/projects-mobile_2_1x.webp 1x,
                  ./img/projects/projects-mobile_2_2x.webp 2x,
                  ./img/projects/projects-mobile_2_3x.webp 3x
                "
                type="image/webp"
              />

              <source
                srcset="
                  ./img/projects/projects-mobile_2_1x.jpg 1x,
                  ./img/projects/projects-mobile_2_2x.jpg 2x,
                  ./img/projects/projects-mobile_2_3x.jpg 3x
                "
                type="image/jpg"
              />

              <img
                src="./img/projects/projects_2_1x.jpg"
                alt="petlove"
                class="projects-img"
                loading="lazy"
              />
            </picture>
          </div>
        </li>
        <li class="projects-swiper-slide swiper-slide">
          <div class="projects-content projects-content-light">
            <ul class="projects-tech-list">
              <li class="projects-tech-item">#react</li>
              <li class="projects-tech-item">#js</li>
              <li class="projects-tech-item">#node js</li>
              <li class="projects-tech-item">#git</li>
            </ul>
            <h3 class="projects-slide-title">
              Programming Across Borders: Ideas, Technologies, Innovations
            </h3>

            <a
              href="https://github.com/YevhenNeklesov/red-hot-chili-coders"
              class="projects-link"
              target="_blank"
              >See project</a
            >
          </div>
          <div class="projects-content projects-content-dark">
            <picture>
              <source
                srcset="
                  ./img/projects/projects_3_1x.webp 1x,
                  ./img/projects/projects_3_2x.webp 2x,
                  ./img/projects/projects_3_3x.webp 3x
                "
                media="(min-width: 768px)"
                type="image/webp"
              />

              <source
                srcset="
                  ./img/projects/projects_3_1x.jpg 1x,
                  ./img/projects/projects_3_2x.jpg 2x,
                  ./img/projects/projects_3_3x.jpg 3x
                "
                media="(min-width: 768px)"
                type="image/jpg"
              />

              <source
                srcset="
                  ./img/projects/projects-mobile_3_1x.webp 1x,
                  ./img/projects/projects-mobile_3_2x.webp 2x,
                  ./img/projects/projects-mobile_3_3x.webp 3x
                "
                type="image/webp"
              />

              <source
                srcset="
                  ./img/projects/projects-mobile_3_1x.jpg 1x,
                  ./img/projects/projects-mobile_3_2x.jpg 2x,
                  ./img/projects/projects-mobile_3_3x.jpg 3x
                "
                type="image/jpg"
              />

              <img
                src="./img/projects/projects_3_1x.jpg"
                alt="VocabBuilder"
                class="projects-img"
                loading="lazy"
              />
            </picture>
          </div>
        </li>
      </ul>
      <div class="projects-button-wrapper">
        <button
          type="button"
          class="projects-button projects-button-prev-js"
          aria-label="Swipe to the previous slide"
        >
          <svg class="projects-button-icon">
            <use href="./img/symbol-defs.svg#icon-arrow-narrow-right-1"></use>
          </svg>
        </button>
        <button
          type="button"
          class="projects-button projects-button-next-js"
          aria-label="Swipe to the next slide"
        >
          <svg class="projects-button-icon">
            <use href="./img/symbol-defs.svg#icon-arrow-narrow-right"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>