<section id="reviews" class="reviews">
  <div class="container">
    <h2 class="reviews-title">REVIEWS</h2>
    <span class="no-data">Not found</span>
    <div class="swiper-container swiper">
      <ul class="reviews-list swiper-wrapper"></ul>
      <div class="swiper-buttons">
        <div class="swiper-prev swiper-button-prev">
          <svg class="icon-prev" width="32" height="32">
            <use href="./img/symbol-defs.svg#icon-arrow-narrow-right"></use>
          </svg>
        </div>
        <div class="swiper-next swiper-button-next">
          <svg class="icon-next" width="32" height="32">
            <use href="./img/symbol-defs.svg#icon-arrow-narrow-right"></use>
          </svg>
        </div>
      </div>
    </div>
  </div>
</section>
