<section id="reviews" class="reviews">
  <div class="container">
    <h2 class="reviews-title">REVIEWS</h2>
    <div class="stub visually-hidden">
      <p class="stub-text">Not found</p>
    </div>
    <div class="reviews-swiper-container swiper">
      <ul class="reviews-list swiper-wrapper"></ul>
      <div class="swiper-buttons">
        <button class="reviews-btn reviews-btn-prev" type="button">
          <svg class="reviews-btn-icon" width="24" height="24">
            <use href="./img/symbol-defs.svg#icon-arrow-narrow-right"></use>
          </svg>
        </button>
        <button class="reviews-btn reviews-btn-next" type="button">
          <svg class="reviews-btn-icon" width="24" height="24">
            <use href="./img/symbol-defs.svg#icon-arrow-narrow-right"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
