<section id="reviews" class="reviews">
  <div class="container">
    <h2 class="reviews-title">REVIEWS</h2>
    <span class="no-data">Not found</span>
    <div class="swiper-container reviews-swiper">
      <ul class="reviews-list swiper-wrapper"></ul>
      <div class="swiper-buttons">
        <button class="reviews-btn reviews-btn-prev" type="button">
          <svg class="reviews-btn-icon" width="24" height="24">
            <use href="./img/symbol-defs.svg#icon-arrow-narrow-right"></use>
          </svg>
        </button>
        <button class="reviews-btn reviews-btn-next" type="button">
          <svg class="reviews-btn-icon" width="24" height="24">
            <use href="./img/symbol-defs.svg#icon-arrow-narrow-right"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
