.container {
  width: 100%;
  padding-left: 16px;
  padding-right: 16px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* ________________MOBILE____________________ */

@media screen and (min-width: 375px) {
  .container {
    width: 375px;
  }
}

/* ____________________TABLET________________________ */

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
}

/* ___________________________DESKTOP_______________________________ */

@media screen and (min-width: 1440px) {
  .container {
    width: 1440px;
  }
}
