/*display Main styles */
.section-hero {
  --second-color: #1c1d20;
  --third-color: #fafafa;
  --main-color: #ed3b44;
  --bg-color: linear-gradient(270deg,
      var(--second-color) 49.69%,
      var(--third-color) 67.71%,
      var(--main-color) 99.91%);
  --bg-d-image: url(../img/hero/d-hero-bg.png);
  --bg-d-image2x: url(../img/hero/d-hero-bg@2x.png);
  --bg-t-image: url(../img/hero/t-hero-bg.png);
  --bg-t-image2x: url(../img/hero/t-hero-bg@2x.png);
  --bg-m-image:url(../img/hero/m-hero-bg.png);
  --bg-m-image2x: url(../img/hero/m-hero-bg@2x.png);
}

.section-hero {
  --main-color: #ed3b44;
  --font-color: var(--third-color);
  --bg-d-image: url(../img/hero/d-hero-bg.png);
  --bg-d-image2x: url(../img/hero/d-hero-bg@2x.png);
  --bg-color: linear-gradient(270deg,
      var(--second-color) 49.69%,
      var(--third-color) 67.71%,
      var(--main-color) 99.91%);
}

/*======= Hero Mobile Styles   ============*/
.section-hero {
margin: 0;
padding: 0;
box-sizing: border-box;
  background: var(--bg-color);
  background-image: var(--bg-m-image);
  background-repeat: no-repeat;
  background-position: left;
  background-size: 375px 812px;
  background-repeat: no-repeat;
  background-position: center;
  max-width: 1440px;
  background-size: cover;

  width: 100%;


}



@media screen and (min-resolution: 192dpi) and (min-width: 320px),
screen and (min-resolution: 2dppx) and (min-width: 320px),
screen and (min-device-pixel-ratio: 2) and (min-width: 320px) {
  #section-hero-id {
    background-image: var(--bg-m-image2x);
  }
}

.hero {
  color: var(--third-color);
  padding-top: 281px;
  padding-bottom: 32px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 212px;
}

.main-title {
  width: 343px;
  font-size: 50px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: inherit;
  margin-left: auto;
  margin-right: auto;
}

.hero-contact,
.social-icon,
.hero-email {
  color: inherit;
}

.hero-contact {
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
}

.contact-icon {
  display: flex;
  flex-direction: row;
  gap: 4px;
  margin-left: auto;
}

.social-icon {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  height: 37px;
  width: 37px;
  border-radius: 60px;
  border: 1px solid rgba(250, 250, 250, 0.2);
  text-align: center;
  padding-top: 6px;
  padding-bottom: 10px;
}

.hero-email {
  font-style: normal;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.02em;
  border-radius: 60px;
  border: 1px solid rgba(250, 250, 250, 0.2);
  text-align: center;
  padding: 6px 12px;
  height: 37px;

}

.social-icon:hover,
.hero-email:hover {
  background: var(--main-color);
  box-shadow: 0 0 5px var(--main-color);
  filter: brightness(0.6);
}

.color {
  position: absolute;
  bottom: 37px;
  left: calc(100% - 16px);
  transform: translateX(-50%);
  padding: 10px;
  background: transparent;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.color span {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  cursor: pointer;
}

.color span {
  background: var(--main-color);
}

.color span.active {
  border: 2px solid var(--main-color);
  transform: scale(1.5);
}


/*======= Hero Tablet Styles   ============*/
@media screen and (min-width: 768px) {
  .section-hero {
    background: var(--bg-color);
    background-image: var(--bg-t-image);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 768px 1024px;
    background-repeat: no-repeat;
      background-position: center;
      max-width: 1440px;
      background-size: cover;
      margin: 0 auto;
  }

  .hero {
    padding-top: 300px;
    gap: 187px;
  }

  .main-title {
    width: 632px;
    font-size: 90px;
    font-weight: 500;
    line-height: 1;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    color: var(--font-color);
    margin-left: auto;
    margin-right: auto;
  }

  .color {
    bottom: 55px;
  }

  .hero-contact {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
  }

  .contact-icon {
    display: flex;
    flex-direction: row;
    gap: 8px;
    margin-left: auto;
  }

  .social-icon {
    font-size: 16px;
    font-weight: 500;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: inherit;
    height: 55px;
    width: 55px;
    border-radius: 60px;
    border: 1px solid rgba(250, 250, 250, 0.2);
    text-align: center;
    padding-top: 14px;
    padding-bottom: 18px;
  }

  .hero-email {
    font-size: 16px;
    padding-top: 14px;
    padding-bottom: 18px;
    height: 55px;
    width: 223px;
  }

  .social-icon:hover,
  .hero-email:hover {
    background: var(--main-color);
    box-shadow: 0 0 5px var(--main-color);
    filter: brightness(0.6);
  }
}

@media screen and (min-resolution: 192dpi) and (min-width: 768px),
screen and (min-resolution: 2dppx) and (min-width: 768px),
screen and (min-device-pixel-ratio: 2) and (min-width: 768px) {
  .section-hero {
    background-image: var(--bg-t-image2x);
  }

  .social-icon:focus,
  .hero-email:focus {
    background: var(--main-color);
    box-shadow: 0 0 5px var(--main-color);
    filter: brightness(0.6);
  }
}

/*======= Hero Desktop Styles   ============*/
@media screen and (min-width: 1440px) {
  .section-hero {
    display: block;
    background: var(--bg-color);
    background-image: var(--bg-d-image);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
      background-position: center;
      max-width: 1440px;
      background-size: cover;
      margin: 0 auto;
      width: 100%;
  }


  .hero {
    gap: 243px;
  }

  .main-title {
    width: 1084px;
    margin-left: auto;
    margin-right: auto;
    font-size: 90px;
  }

  .social-icon:hover,
  .hero-email:hover {
    background: var(--main-color);
    box-shadow: 0 0 5px var(--main-color);
    filter: brightness(0.6);
  }
}

@media screen and (min-resolution: 192dpi) and (min-width: 1440px),
screen and (min-resolution: 2dppx) and (min-width: 1440px),
screen and (min-device-pixel-ratio: 2) and (min-width: 1440px) {
  .section-hero {
    background-image: var(--bg-d-image2x);
  }
}

media screen and (min-width: 768px) {
    .section-hero {
        background: var(--bg-color);
        background-image: var(--bg-d-image);
        background-repeat: no-repeat;
        background-position: left;
        background-size: 768px 1024px;
    }
}
