.reviews {
  background-color: #1c1d20;
  padding-top: 64px;
  padding-bottom: 64px;
}
.reviews-title {
  /* font-family: 'Inter Tight', sans-serif; */
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: rgba(250, 250, 250, 0.4);
  margin-bottom: 32px;
}
.swiper-wrapper {
  display: flex;
}

.swiper-slide {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.reviews-item {
  display: flex;
  /* align-items: flex-start;
  justify-content: flex-start; */
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  /* gap: 32px; */

  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 20px;
  padding: 32px 24px;
  width: 344px;
  height: 100%;
  margin-bottom: 32px;
  flex-grow: 1;
  align-items: stretch;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 20px;
  padding: 32px 24px;
  width: 100%;
}
.reviews-img {
  border-radius: 10px;
  width: 48px;
  height: 48px;
  margin-bottom: 32px;
}
.reviews-list {
  display: flex;
}
.reviews-subtitle {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: #fafafa;
  margin-bottom: 8px;
}

.reviews-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: rgba(250, 250, 250, 0.6);
}

.swiper-button-prev,
.swiper-button-next {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border-color: rgba(250, 250, 250, 0.3);
  background-color: transparent;
}
.swiper-container {
  width: 100%;
  height: 100%;
}
@media screen and (min-width: 768px) {
  .reviews {
    padding-top: 96px;
    padding-bottom: 96px;
  }
}
@media screen and (min-width: 1440px) {
  .reviews {
    padding-top: 164px;
    padding-bottom: 164px;
  }
}
