/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import 'modern-normalize';
@import url('./reset.css');
@import url('./general.css');
@import url('./header.css');
@import url('./hero.css');
@import url('./about-me.css');
@import url('./benefits.css');
@import url('./projects.css');
@import url('./faq.css');
@import url('./covers.css');
@import url('./reviews.css');
@import url('./work-together.css');
@import url('./modal-window.css');

:root {
  font-family: Inter Tight, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --main-color-text: #fafafa;
  --dark-grey-text: rgba(250, 250, 250, 0.6);
  --main-accent-color: #ed3b44;
}
