.work-together {
  background-color: #1c1d20;
  background-image: url(/img/work-together-background-mob-1x.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
}

@media screen and (min-resolution: 2dppx), (min-resolution: 192dpi) {
  .work-together {
    background-image: url(/img/work-together-background-mob-2x.png);
  }
}

.work-together-inner {
  padding-top: 32px;
  padding-bottom: 32px;
}

.work-together-title-wrap {
  display: flex;
  flex-wrap: wrap;
  gap: 4px 8px;
  justify-content: start;
  align-content: center;
  margin-bottom: 16px;
}

.work-together-title,
.work-together-title-bottom {
  color: #fafafa;
  font-size: 40px;
  font-weight: 500;
  line-height: 40px;
  letter-spacing: -1.2px;
  text-transform: uppercase;
}

.work-together-title-bottom {
  margin-bottom: 83px;
}

.work-together-title .work-together-title-mark {
  color: #ed3b44;
}

.work-together-form {
  /* display: flex;
  flex-direction: column; */
  margin-bottom: 64px;
}

.work-together-label {
  display: block;
  margin-bottom: 16px;
}

.work-together-label-comment {
  display: block;
  margin-bottom: 32px;
}

/* .work-together-input-wrap {
} */

/* .work-together-form > label + label {
  margin-bottom: 32px;
} */

.work-together-input::placeholder {
  color: rgba(250, 250, 250, 0.6);
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.32px;
  background-color: transparent;
}

.work-together-input {
  display: block;
  width: 100%;
  /* height: 24px; */
  padding-bottom: 20px;
  color: rgba(250, 250, 250, 0.6);
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.32px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgba(250, 250, 250, 0.2);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  outline: none;
}

.work-together-input:autofill {
  background-color: transparent;
  color: rgba(250, 250, 250, 0.6);
}

.work-together-input:autofill,
.work-together-input:autofill:hover,
.work-together-input:autofill:focus,
.work-together-input:autofill:active {
  transition: background-color 5000s ease-in-out 0s, color 5000s ease-in-out 0s;
}

.success {
  /* position: absolute; */
  color: #3cbc81;
  font-family: Inter Tight;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: -0.28px;
  display: none;
}

.error {
  /* position: absolute; */
  color: #e74a3b;
  font-family: Inter Tight;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: -0.28px;
  display: none;
}

.work-together-form-btn {
  width: 100px;
  height: 100px;
  color: #fafafa;
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.32px;
  background-color: #ed3b44;
  border-radius: 50%;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.work-together-list {
  display: flex;
  gap: 4px;
}
.work-together-list-item {
  display: flex;
  justify-content: center;
  align-items: center;
}
.work-together-item-link {
  color: #fafafa;
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.28px;
  padding: 10px 12px;
  border-radius: 60px;
  border: 1px solid rgba(250, 250, 250, 0.2);
}

/* modal */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(15, 15, 16, 0.6);
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-open {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
}

.work-together-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 343px;
  height: 276px;
  border: 1px solid rgba(250, 250, 250, 0.1);
  background-color: #1c1d20;
  border-radius: 20px;
  transform: translate(-50%, -50%);
  padding: 64px 32px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.work-together-modal-btn-x {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 22px;
  height: 22px;
  padding: 0;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.work-together-modal-title {
  color: #fafafa;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: -0.4px;
  margin-bottom: 16px;
}
.work-together-modal-text {
  color: rgba(250, 250, 250, 0.6);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.32px;
}

@media screen and (min-width: 768px) {
  .work-together {
    background-image: url(/img/work-together-background-tablet-1x.png);
  }

  @media screen and (min-resolution: 2dppx), (min-resolution: 192dpi) {
    .work-together {
      background-image: url(/img/work-together-background-tablet-2x.png);
    }
  }

  .work-together-inner {
    padding-top: 80px;
    padding-bottom: 169px;
  }

  .work-together-title-wrap {
    gap: 7px 20px;
    margin-bottom: 18px;
  }

  .work-together-title,
  .work-together-title-bottom {
    font-size: 64px;
    line-height: 64px;
    letter-spacing: -1.92px;
  }

  .work-together-form {
    position: relative;
    display: flex;
    margin-bottom: 18px;
    align-items: center;
    justify-content: space-between;
  }

  .success {
    position: absolute;
  }

  .error {
    position: absolute;
  }

  .work-together-label {
    margin-bottom: 0px;
    /* margin-right: 32px; */
  }

  .work-together-label-comment {
    margin-bottom: 0;
  }

  .work-together-form > label + label {
    margin-bottom: 0px;
    /* margin-right: 32px; */
  }

  .work-together-input {
    width: 245px;
  }

  .work-together-form-btn {
    width: 150px;
    height: 150px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      animation 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .work-together-form-btn:hover {
    background-color: #e0373f;
    animation: flip 1s;
  }

  @keyframes flip {
    0%,
    100% {
      transform: rotateY(0);
    }
    50% {
      transform: rotateY(180deg);
    }
  }

  .work-together-list {
    gap: 8px;
  }

  .work-together-item-link {
    padding: 18px 32px;
    font-size: 16px;
    letter-spacing: -0.32px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .work-together-item-link:hover {
    border-color: #fafafa;
    transform: scale(106%, 106%);
  }

  /* modal */

  .modal {
    width: 492px;
    height: 246px;
    padding: 64px 64px;
  }

  .modal-btn-x {
    width: 24px;
    height: 24px;
  }

  .work-together-modal {
    font-family: 'Inter Tight', sans-serif;
    border: 1px solid rgba(250, 250, 250, 0.1);
    border-radius: 20px;
    padding: 64px;
    width: 492px;
    height: 246px;
  }
}

@media screen and (min-width: 1440px) {
  .work-together-inner {
    width: 1048px;
    margin: 0 auto;
  }

  .work-together {
    background-image: url(/img/work-together-background-desktop-1x.png);
  }

  @media screen and (min-resolution: 2dppx), (min-resolution: 192dpi) {
    .work-together {
      background-image: url(/img/work-together-background-desktop-2x.png);
    }
  }

  .work-together-inner {
    padding-top: 88 px;
    padding-bottom: 169px;
  }

  .work-together-title-wrap {
    width: 542px;
  }

  .work-together-form {
    justify-content: start;
  }

  .work-together-label {
    margin-right: 32px;
  }

  .work-together-label-comment {
    margin-right: 86px;
  }

  .work-together-input {
    width: 390px;
  }
}

.work-together-modal-btn-x {
  background-color: transparent;
  border: none;
}

.work-together-modal-btn-x-svg {
  stroke: #fafafa;
}

.iziToast .iziToast-close {
  background-color: transparent;
  /* color: white; Цвет крестика */
  top: 10px; /* Отступ сверху */
  right: 10px; /* Отступ справа */
  position: absolute; /* Фиксируем позицию */
}
